/*------------------------------------------------------------------------------------------------*\
    Fall-Back Off Canvas Pattern v0.5
\*------------------------------------------------------------------------------------------------*/

// Colours:

// Slightly hacky way of allowing the main UI colour of this pattern to be:
// - base-ui colour (if set)
// - otherwise #999 
// - but can be specifically overridden
$t: #999;
@if variable-exists(fallback--base-ui-color) {
    $t: $fallback--base-ui-color;
}
$fallback--off-canvas--ui-color:              $t !default;


$fallback--off-canvas--bg-color:              #fff !default;

$fallback--off-canvas__link--color:           #fff !default;
$fallback--off-canvas__link--color--alt:      $fallback--off-canvas__link--color !default;
$fallback--off-canvas__link--bg-color:        $fallback--off-canvas--ui-color !default;
$fallback--off-canvas__link--bg-color--alt:   darken($fallback--off-canvas--ui-color, 10%) !default;

$fallback--off-canvas__left-panel--bg-color:  $fallback--base-ui-color !default;
$fallback--off-canvas__right-panel--bg-color: $fallback--off-canvas__left-panel--bg-color !default;

$fallback--off-canvas__overlay--bg-color:     #fff !default;


// Sizes:

$fallback--off-canvas--width:                 16em !default;
$fallback--off-canvas__link--height:          ($fallback--base-em-ratio * 1.5em) !default;
$fallback--off-canvas--spacing:               ($fallback--off-canvas__link--height / 8) !default;

$fallback--off-canvas__left-panel--padding:   ($fallback--off-canvas__link--height / 2) !default;
$fallback--off-canvas__right-panel--padding:  $fallback--off-canvas__left-panel--padding !default;


// Breakpoints:

$fallback--off-canvas--breakpoint--enhanced:  45em !default;
//$fallback--off-canvas--breakpoint--enhanced:  720px !default;


// SVG's

$fallback--off-canvas__open--svg:             "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZmlsbD0iIzQ0NCIgZD0iTTE5LjE0MyA4SC44NTdDLjA2NyA4IDAgOC44OTQgMCAxMGMwIDEuMTA0LjA2OCAyIC44NTcgMmgxOC4yODZjLjc5IDAgLjg1Ny0uODk2Ljg1Ny0yIDAtMS4xMDctLjA2OC0yLS44NTctMnptMCA4SC44NTdDLjA2NyAxNiAwIDE2Ljg5NCAwIDE4YzAgMS4xMDUuMDY4IDIgLjg1NyAyaDE4LjI4NmMuNzkgMCAuODU3LS44OTUuODU3LTIgMC0xLjEwNi0uMDY4LTItLjg1Ny0yek0uODU3IDRoMTguMjg2Yy43OSAwIC44NTctLjg5NS44NTctMiAwLTEuMTA2LS4wNjgtMi0uODU3LTJILjg1N0MuMDY3IDAgMCAuODk0IDAgMmMwIDEuMTA1LjA2OCAyIC44NTcgMnoiLz48L3N2Zz4=" !default;
$fallback--off-canvas__close--svg:            "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZmlsbD0iIzQ0NCIgZD0iTTIwIDIuMDJMMTcuOTggMCAxMCA3Ljk4IDIuMDIgMCAwIDIuMDIgNy45OCAxMCAwIDE3Ljk4IDIuMDIgMjAgMTAgMTIuMDIgMTcuOTggMjAgMjAgMTcuOTggMTIuMDIgMTAgMjAgMi4wMnoiLz48L3N2Zz4=" !default;


// Fall-Back PNG's:

$fallback--off-canvas__open--png:             "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAQUlEQVQ4jWNgGAWDF/z//7/+P/mgHpuBAf///59PJg4YgDCgFPz//7/g////98nEBbQ3cPADqieb/9RO2KNg8AAAUSBpmHUw8UMAAAAASUVORK5CYII=" !default;
$fallback--off-canvas__close--png:            "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAkklEQVQ4je2TOw6FMAwEKTgAEgWRkKi5awqah1IgTpBDDgVbRMAj5lOyXWJ75LWTovj0ugAHeKA8ySmV4yxAz6p4BBUsKsdbgA0wquAH1EmsAgbFZqDLAg+6iDrv7kywE+h92B/oM5iA6cwAgmmzhu6eWX51KRubE9AmMSfbdvtJgeVhBwuwFzT39QLQZ4GfLmsBYGJNnHhD1RcAAAAASUVORK5CYII=" !default;


// Transitions:

$fallback--off-canvas__panel--transition:     left 0.5s ease !default;
$fallback--off-canvas__overlay-transition:    opacity 0.5s ease !default;


// Other:
$fallback--off-canvas__overlay-opacity:       0.5 !default;
$fallback--off-canvas__overlay-shadow:        0 0 10px 5px #000 !default;


// MQ hacks:
// https://jeffclayton.wordpress.com/2014/07/22/internet-explorer-css-hacks-collection/
// 0\0 encoded to preserve hack.
$fallback--ie9--hack: "all and (min-width: \0030\005C\0030) and (min-resolution: .001dpcm)" !default;

/* -- Basic/fallback layout --------------------------------------------------------------------- */

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    /* -- .off-canvas ----------------------------------------------------------------------------*/
    
    .off-canvas {  
    }

    .off-canvas .off-canvas__open,
    .off-canvas .off-canvas__close {
        display: none;
    }
    
    /* -------------------------------------------------------------------------------------------*/
    
    /* -- .off-canvas__inner ---------------------------------------------------------------------*/
    
    .off-canvas .off-canvas__inner {
        width: 100%;
        background-color: $fallback--off-canvas--bg-color;
    }

    
    .off-canvas .off-canvas__overlay {
        padding: 0;
        margin: 0;
        border: 0;
    }
    
    
/* -- Enhanced layout --------------------------------------------------------------------------- */    
    
    @media only screen and (max-width: (minus1px($fallback--off-canvas--breakpoint--enhanced))) {

        /*
            It's not uncommon to force a scrollbar on html to avoid jarring width adjustments.
            However, we're applying a scrollbar to .off-canvas so it's possible to end up with two
            scrollbars at this breakpoint which looks terrible, so forcing an override here.
        */
        html {
            overflow-y: auto !important;
        }
    
        .off-canvas {
            overflow-x: hidden;
            overflow-y: scroll; // Maybe make this optional?
            height: 100%;
        }
        
        
        /* This div is responsible for sliding the page: */
        .off-canvas .off-canvas__inner {
            min-height: 100%;
            position: relative;
            left: 0;
            /*
                NOTE: `-webkit-transition` OMITTED DELIBERATLY as it seems to prevent android from
                moving `.off-canvas__inner` at all and is thus broken.
                If a simple solution is found I can re-instate it, but not having the transition is
                only a minor difference - not moving at is unusable.
            */
               -moz-transition: $fallback--off-canvas__panel--transition;
                 -o-transition: $fallback--off-canvas__panel--transition;
                    transition: $fallback--off-canvas__panel--transition;
        }       
        
        .off-canvas--left:target .off-canvas__inner {
            left: $fallback--off-canvas--width;
        }

        .off-canvas--right:target .off-canvas__inner {
            left: -$fallback--off-canvas--width;
        }
        
        
        /* Style the off-canvas controls: */
        
        /* 
            NOTE: this still isn't finalised and may need to be more flexible as it's quite
            subjective how these buttons should be presented in terms of position.
            Will probably not be in isolation, but as part of a navbar or similar so this does
            need some more thinking.
        */
        
        .off-canvas .off-canvas__controls--left,
        .off-canvas .off-canvas__controls--right {
            display: inline-block;
            position: relative; /* IS needed for when used outside of top-bar. */
        }
        
        .off-canvas .off-canvas__open,
        .off-canvas .off-canvas__close {          
            color: $fallback--off-canvas__link--color;
            background-color: $fallback--off-canvas__link--bg-color;
            width: $fallback--off-canvas__link--height;
            
            display: block;
            margin: 0;
            padding: 0 ($fallback--off-canvas--spacing * 2);
            height: $fallback--off-canvas__link--height;
            line-height: $fallback--off-canvas__link--height;
            
            border: 0;
            
            text-align: center;
        }
        
        .off-canvas .off-canvas__open:hover,
        .off-canvas .off-canvas__open:active,
        .off-canvas .off-canvas__open:focus,
        .off-canvas .off-canvas__close:hover,
        .off-canvas .off-canvas__close:active,
        .off-canvas .off-canvas__close:focus {
            border: 0;
        }
        
        /*
            Fix for Opera Mini vertical centering:
        */
        _:-o-prefocus, body:last-child .off-canvas__open,
        _:-o-prefocus, body:last-child .off-canvas__close {
            line-height: 2.8 !important;
        }
        
        
        
        /*
            1. Move the close button to the back and position behind open control.
        */
        .off-canvas .off-canvas__close {           
            position: absolute; /* [1] */
            z-index: -1; /* [1] */
            top: 0; /* [1] */
        }
        
        /*
            1. This is only necessary if the container is block wider than the control.
               May not be the best place for this, but it doesn't hurt.
        */
        .off-canvas .off-canvas__controls--left .off-canvas__close {
            left: 0; /* [2] */
        }
        
        /*
            1. This is only necessary if the container is block wider than the control.
               May not be the best place for this, but it doesn't hurt.
        */
        .off-canvas .off-canvas__controls--right .off-canvas__close {
            right: 0; /* [2] */
        }

        .off-canvas .off-canvas__open::before,
        .off-canvas .off-canvas__close::before {
            /* These styles are enough for modern FF to V-center the icon: */
            display: inline-block;
            vertical-align: middle;
            width: $fallback--off-canvas--spacing * 3;

            line-height: 0;
        }
        
        .off-canvas .off-canvas__open::before {
            content: url($fallback--off-canvas__open--svg);   
        }
        
        .off-canvas .off-canvas__close::before {
            content: url($fallback--off-canvas__close--svg);
        }

        
        /* Move the close control on top of the open control and above the overlay: */
        .off-canvas--left:target .off-canvas__controls--left .off-canvas__close,
        .off-canvas--right:target .off-canvas__controls--right .off-canvas__close {
            z-index: 1002; /* @var */
        }
 

        .off-canvas .off-canvas__open:hover,
        .off-canvas .off-canvas__open:active,
        .off-canvas .off-canvas__open:focus,
        .off-canvas .off-canvas__close:hover,
        .off-canvas .off-canvas__close:active,
        .off-canvas .off-canvas__close:active {
            text-decoration: none;
            color: $fallback--off-canvas__link--color--alt;
            background-color: $fallback--off-canvas__link--bg-color--alt;
        }
        
        
        /* Size and position the overlay, but send it to the back: */
        
        .off-canvas .off-canvas__overlay {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;

            background: $fallback--off-canvas__overlay--bg-color;
            opacity: 0;
            
            -webkit-transition: $fallback--off-canvas__overlay-transition;
               -moz-transition: $fallback--off-canvas__overlay-transition;
                 -o-transition: $fallback--off-canvas__overlay-transition;
                    transition: $fallback--off-canvas__overlay-transition;
                    
            -webkit-box-shadow: $fallback--off-canvas__overlay-shadow;
                    box-shadow: $fallback--off-canvas__overlay-shadow;
        }
        
        /* Bring the overlay to the front and fade in when there's an off-canvas target: */
        .off-canvas--left:target .off-canvas__overlay,
        .off-canvas--right:target .off-canvas__overlay {
            z-index: 1001; /* @var */
            opacity: $fallback--off-canvas__overlay-opacity;
        }
        
        
        /* Size and position the off-canvas panels: */
        
        .off-canvas .off-canvas__panel--left,
        .off-canvas .off-canvas__panel--right {
            position: absolute;
            top: 0;
            width: $fallback--off-canvas--width;
            
            -webkit-box-sizing: border-box; /* Not sure why this is needed. */
        }
        
        .off-canvas .off-canvas__panel--left {
            left: -$fallback--off-canvas--width;
            background-color: $fallback--off-canvas__left-panel--bg-color;
            padding: $fallback--off-canvas__left-panel--padding;
        }
        
        .off-canvas .off-canvas__panel--right {
            right: -$fallback--off-canvas--width;
            background-color: $fallback--off-canvas__right-panel--bg-color;
            padding: $fallback--off-canvas__right-panel--padding;
        }
    }
    
    
    /* IE9 hacks: */
    /*
    */
    @media #{$fallback--ie9--hack} {
        .off-canvas .off-canvas__open::before,
        .off-canvas .off-canvas__close::before {
            /* Increase icon width due to odd cropping, then rescale down: */
            width: 1rem;
            -ms-transform: scale(0.9);
        }
    }
    
    
    
    /* Old Android hack (also affects Safari 4 it doesn't matter in this case): */
    /* (adapted from http://browserhacks.com/#hack-a60b03e301a67f76a5a22221c739dc64) */
    @media screen and (min-width:0\-) {
        /*
            Overflow breaks scrolling in old Android, so just allow horizontal scrolling as well.
        */
        .off-canvas {       
            overflow: visible;
        }
        
        /*
            PNG Fall-Back for Old Android.
            (IE8- (and other non-SVG browsers) don't really need the off canvas anyway, and in the 
            case of IE8- will never encounter it due to lack of Media Query support)
            (--Actually, with Respond it will so could turn PNG Fall-Back into a mixin to allow it to
            be used fore IE8 if necessary, but advise to use a min-width instead - if Respond will
            allow this---). NO! It relies on :target so can't work in IE without JS fallback.
            Can't see that this is worth it so only use min-width.

            (leaving SVG for reference for now)
        */
        .off-canvas .off-canvas__open {
            background-image: url($fallback--off-canvas__open--png);
            -background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KPHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTIuNSAxNWgxNXYtMS42NjdoLTE1djEuNjY3ek0yLjUgMTAuODMzaDE1di0xLjY2N2gtMTV2MS42Njd6TTIuNSA1djEuNjY3aDE1di0xLjY2N2gtMTV6Ij48L3BhdGg+Cjwvc3ZnPgo=);
        }
        .off-canvas .off-canvas__close {           
            background-image: url($fallback--off-canvas__close--png);    
            -background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KPHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTE1LjgzMyA1LjM0NmwtMS4xNzktMS4xNzktNC42NTQgNC42NTQtNC42NTQtNC42NTQtMS4xNzkgMS4xNzkgNC42NTQgNC42NTQtNC42NTQgNC42NTQgMS4xNzkgMS4xNzkgNC42NTQtNC42NTQgNC42NTQgNC42NTQgMS4xNzktMS4xNzktNC42NTQtNC42NTR6Ij48L3BhdGg+Cjwvc3ZnPgo=);    
        }
    }
    
    
    /* For Opera Mini and Mobile (affects old desktop too, but that's acceptable): */
    /* (http://browserhacks.com/#hack-a3f166304aafed524566bc6814e1d5c7
       for Opera ≥ 9.5 but recent desktop Opera (15+) isn't affected) */
    
    /*
        Overflow breaks scrolling in Opera Mini, so just allow horizontal scrolling as well.
    */
    _:-o-prefocus, body:last-child .off-canvas {
        overflow: visible;
    }

/* ---------------------------------------------------------------------------------------------- */